    <!--Bottom Nav -->
    <footer>
        <nav class="navbar fixed-bottom">
          <div id="foot_nav">
            <h6 class="display-10 navbar-text">&nbsp;&copy; Copyrights 2022. All Rights reserved</h6>
          </div>
        </nav>
    </footer>